*{
	margin: 0;
	padding: 0;
	font-size: 24px;
	box-sizing: border-box;
	/* border: 1px solid black; */
}
#container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
#menu-bar {
	display: flex;
	flex-direction: row;
	/* justify-content: flex-start; */
	width: 100%;
	background-color: green;
	border: 1px solid black;
}
.menu-bar-item {
	padding: 5px 10px 15px 10px;
}
.menu-bar-item:hover {
	background-color: lightgreen;
}
.menu-bar-item > a{
	font-size: 30px;
	text-decoration: none;
	color: white;
}
#logout {
	margin-left: auto;
	/* align-self: flex-end; */
	/* justify-self: flex-end; */
}
#body-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}
#side-bar {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 100%;
	overflow: auto;
	background-color: gold;
}
#input-field-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.edit-input {
	margin: 10px;
	padding: 15px;
}
#center-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.main-menu-item {
	padding: 10px;
	margin: 15px;
	width: 500px;
	font-size: 30px;
	border-radius: 5px;
	background-color: #428bd0;
}
.main-menu-title {
	padding: 10px;
	width: 30%;
	text-align: center;
	font-size: 30px;
}
#login-button {
	background-color: green;
}
#pickit-list-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	justify-content: center;
	padding: 0 10px;
	margin: 10px 0;
}
.pickit-list-separate-container {
	display: flex;
	flex-direction: column;
	width: 30%;
}
.pickit-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: auto;
	border: 5px solid orange;
	height: 100%;
}
.pickit-list-item {
	background-color: gold;
}
#pickit-list-button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.pickit-list-button {
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	background-color: #428bd0;
}
.pickit-list-form-button {
	width: 100%;
	border: 0px;
	background-color: #428bd0;
}
.pickit-list-title {
	padding: 10px;
	text-align: center;
	background-color: brown;
}
.missing-info {
	background-color: red;
}
.selected {
	background-color: #428bd0;
}
#card-center-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border: 5px solid black;
	margin: 0 0 10px 0;
}
/* #card-center-container:nth-of-type(even){ */
/* 	page-break-after: always; */
/* } */
.break {
	page-break-after: always;
}
#card-table {
	width: 100%;
	font-family: arial, sans-serif;
	border-collapse: collapse;
}
#card-table td, #card-table th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}
#card-table tr:nth-child(even) {
	background-color: #dddddd;
}
#card-contact-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
}
.card-title {
	font-weight: bold;
}
