* {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 30px;
}
input {
	border-bottom: 2px solid gray;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	width: 575px;
}
input:focus {
	outline: none;
}
div {
	padding: 20px;
	border: 1px solid black;
}
button {
	/* margin: 10px; */
	/* padding: 10px; */
	/* border-radius: 4px; */
	/* width: 500px; */
	display: block;
}
.center {
	padding: 20px;
	width: 600px;
	margin: 100px auto;
	text-align: center;
}
.center::after{
	content: " ";	
	display: block;
	height: 0;
	clear: both;
}
#file-upload {
	width: 500px;
	border: none;
}
.cardTitle {
	margin: auto;
	text-align: center;
	/* border: 1px solid black; */
}
#logout {
	float: right;
}
#login-container {
}
#login-button {
	background-color: green;
	color: white;
	width: 600px;
	border-radius: 4px;
	padding: 7px;
}
#Office {
	display: inline-block; 
	float: left;
	width: 40%;
	padding: 0 40px;
	text-align: left;
}
#Email {
	display: inline-block;
	float: right;
	width: 40%;
	text-align: left;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}
ul.menu-bar {
  list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #38c93f;
}
li.menu-bar-item {
	float: left;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #3fff00;
}
.active {
	background-color: #3fff00;
}
.side-menu-container {
  list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #999;
	width: 330px;
	height: 546px;
	display: inline-block;
	float: left;
}
.side-menu-item:hover {
	background-color: #aaa;
}
.side-menu-item.selected {
	background-color: #fff;
}
.pickit-list {
	list-style-type: none;
	overflow: auto;
	height: 410px;
	width: 300px;
	display: inline-block;
	border: 1px solid black;
}
.pickit-list-item{
	text-align: center;
	background-color: lightgreen;
}
.selected {
	background-color: green !important;
}
#unpicked {
	float: left;
}
#picked {
	float: right;
}
#pickit-list-container {
	margin: 25px auto;
	width: 800px;
}
.pickit-list-button {
	border: 1px solid black;
	border-radius: 4px;
	background-color: lightgreen;
	padding: 5px;
	margin: 5px auto;
}
.pickit-list-button-container {
	border: 1px solid black;
	width: 154px;
	float: left;
	text-align: center;
	margin: auto;
}
.missing-info {
	background-color: red;
}
#print > input {
	width: 100px;
}
