*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid black; */
}
body {
	background-color: #eeeeee;
	font-size: 24px;
	font-family: arial, sans-serif;
}
a {
	text-decoration: none;
}
/* @page { */
/* 	margin: 0; */
/* } */
.pickit-list::-webkit-scrollbar{
	background-color: #eeeeee;
}
#side-bar::-webkit-scrollbar {
	background-color: #666666;
}
::-webkit-scrollbar-button {
}
.pickit-list::-webkit-scrollbar-thumb {
	background-color: #eeeeee;
	border: 2px solid #cccccc;
}
#side-bar::-webkit-scrollbar-thumb {
	background-color: #eeeeee;
	border: 2px solid #cccccc;
}
::-webkit-scrollbar-track {
	background-color: #555555;
}
::-webkit-scrollbar-track-piece {
}
::-webkit-scrollbar-corner {
	background-color: #000000;
}
-webkit-scrollbar:hover {
	cursor: pointer;
}
.main-menu-item::-webkit-input-placeholder {
	color: white;
}
#container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
#menu-bar {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #2970e7;
	height: 10%;
	/* border: 1px solid black; */
}
.menu-bar-item {
	/*padding: 1vw 2vw 2vw 2vw;*/
	padding: 1.7vw 1.5vw 0vw 1.5vw;
	height: 100%;
	/*border: none solid none solid;*/
	border-right: solid;
	border-left: solid;
	border-color: #5089e6;
	/*Offset the buttons so that the borders overlap (and aren't twice as thick)*/
	margin-left: -3px;
	text-align: center center;
	vertical-align: middle;
	color: white;
}
.menu-bar-item:hover {
	background-color: #6099f6;
	cursor:pointer;
	/* border: 2px solid #1ca117; */
}
.menu-bar-item > a{
	font-size: 1.5vw;
	text-decoration: none;
	color: white;
}
#logout {
	margin-left: auto;
	/* align-self: flex-end; */
	/* justify-self: flex-end; */
}
#body-container {
	display: flex;
	flex-direction: row;
	height: 90%;/*100%*/
	width: 100%;
}
#side-bar {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 100%;
	overflow: auto;
	background-color: #555555;
}
.side-bar-item {
	background-color: #eeeeee;
	padding: 0 4px;
	width: 100%;
	padding-left: 1vw;
	border-bottom: 1px solid black;
}
.side-bar-item:hover {
	cursor:pointer;
	background-color: #bbbbbb;
}
#input-field-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.edit-input {
	margin: 10px;
	padding: 15px;
	font-size: 24px;
}
.edit-input:focus {
	outline: none;
}
#update-button {
	background-color: #ffffff;

	font-weight: bold;
	border-radius: 8px;
	border: none;
	border: 1px solid;
	border-color: #bbbbbb;
}
#update-button:hover {
	background-color: #555555;
	cursor:pointer;
}
#center-container {
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.main-menu-item {
	padding: 10px;
	margin: 15px;
	width: 500px;
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	border-radius: 5px;
	/* background-color: #428bd0; */
	background-color: #ffffff;
	border: 1px solid;
	border-color: #bbbbbb;
}

.main-menu-item::-webkit-input-placeholder {
	color: #767676;
}
.main-menu-item:hover {
	background-color: #888888;
	cursor:pointer;
}
.main-menu-item:focus {
	outline: none;
}
.main-menu-title {
	padding: 10px;
	width: 30%;
	text-align: center;
	font-size: 30px;
}
#login-button {
	background-color: green;
	color: white;
}
#login-button:hover {
	background-color: #00e600;
	cursor:pointer;
}
#pickit-list-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 90%;
	justify-content: center;
	padding: 0 10px;
	margin: 10px 0;
}
.pickit-list-separate-container {
	display: flex;
	flex-direction: column;
	width: 30%;

	border-radius: 8px;
	border-width: 1px;
	border-color: #000000;

}
.pickit-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: auto;
	border: 5px solid #ffffff;
	height: 100%;
	background-color: #555555;
}
.pickit-list-item {
	background-color: #bbbbbb;
	border-bottom: solid;
	border-width: 1px;
	border-color: #222222;
	padding-left: 1vw;
}
.pickit-list-item:hover {
	cursor: pointer;
}

#pickit-list-button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.pickit-list-button {
	width: 8vw;
	margin: 10px;
	
	/*font-weight: bold;
	font-size: 40px;*/
}
.pickit-list-form-button {
	
	border-radius: 8px;
	border: 1px solid;
	border-color: #bbbbbb;
	background-color: #ffffff;
	padding: 10px;

	width: 100%;
	font-size: 1vw;
	font-weight: bold;
}
.pickit-list-form-button:hover {
	outline: none;
	cursor: pointer;
	background-color: #555555;	
}
.pickit-list-title {
	font-size: 24px;
	padding: 10px;
	text-align: center;
	background-color: #ffffff;
}
.missing-info {
	background-color: #994444;
}
.selected {
	background-color: #6099f6 !important;
}
#card-center-container {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	text-align: center;
	border: 5px solid #444444;
	margin: 0 0 10px 0;
	padding-top: 0.1in;
	background-color: white;
	height: 5in;
}
.break {
	page-break-after: auto;
}
.card-title {
	font-size: .2in;
}
#card-table {
	width: 100%;
	font-family: arial, sans-serif;
	border-collapse: collapse;
}
#card-table td, #card-table th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 4px;
}
#card-table tr:nth-child(even) {
	background-color: #dddddd;
}
#card-contact-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
}
.card-title {
	font-weight: bold;
}
.update-message {
	text-align: center;
	font-weight: bold;
	display: none;
}
#success {
	background-color: #bcdd55;
	border: 2px solid #1ca117;
}
#failure {
	background-color: #ff704d; 
	border: 2px solid #ff3300;
}
.account-side-bar-item {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #ffffff;
}
.account-side-bar-item > .side-bar-item {
	padding-left: 1vw;
	background: transparent;
}
.account-side-bar-item:hover {
	cursor: pointer;
	background-color: #bbbbbb;
}
.account-delete {
	background: transparent;
	padding-right: 0.5vw;
	padding-left: 0.4vw;
	color: #ff0000;
	cursor: pointer;
	border-bottom: 1px solid black;
}
.account-delete:hover {
	color: #ffffff;
	background: solid;
	background-color: #ff0000;
}
.account-tab-container {
	display: flex;
	flex-direction: row;
}
.account-tab {
	width: 50%;
	text-align: center;
	padding: 16px 8px 16px 8px;
	box-shadow: inset 0px 0px 20px 0px #444444;
	background-color: #6099f6;
	border-width: 1px;
	border-radius: 8px;
	border: solid;
	border-right: none;
	border-color: #bbbbbb;
	/* border-right: 2px solid black; */
	/* border-bottom: 2px solid black; */
}

.account-tab-section {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#add-user {
	display: none;
}
.edit-input-button {
	background-color: #ffffff;
	font-weight: bold;
	border-radius: 8px;
	border: 1px solid;
	border-color: #bbbbbb;
}
.edit-input-button:hover {
	background-color: #555555;
	cursor:pointer;
}
#ajax-visual {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 20%;	
}
.not-active {
	box-shadow: none;
	background-color: #ffffff;
}
.not-active:hover {
	cursor:pointer;
	background-color: #555555;
}
